body
  background-color blue
  text-transform uppercase


h5 {
  color: white;
}
h4 {
  color: black;
  text-align: center;
  font-size: 10px;
  margin-top: 190;
  height: 90px;
  width: 100%;
} 
 

 h1 {
  text-align: center;
  margin-top: -50;
  color: white;
  font-size: px;
  height: px;
  width: 100%;
  line-height: 20px
} 

h6 {
  text-align: center;
  color: white;
  height: 0px;
  width: 50%;
  line-height: 20%;
  
}
  
